section {
  display: flex;
  height: 50px;
  
  padding: 20px 0;
}

input {
  display: block;
  width: 80%;
  height: 30px;
  padding: 10px;
  border: 2px solid #dc004e;
  margin-right: 50px;
  border-radius: 5px;
  font-size: medium;
  outline: none;
}


